// colors
$softRed : hsl(7, 99%, 70%);
$yellow : hsl(51, 100%, 49%);
$darkCyan : #25564b;
$darkBlue: hsl(198, 62%, 26%);
$ModCyan : hsl(168, 62%, 72%);

// neutral
$veryDarkBlue : hsl(212, 27%, 19%);
$veryDarkGrayishBlue : hsl(213, 9%, 39%);
$darkGrayishBlue :  hsl(232, 10%, 55%);
$grayishBlue : hsl(210, 4%, 67%);
$white : #fff;

